[DEFAULT]
# Allow logging to be fstring for consistency
# No useless super delegation since child class should always use the parent class's init for proper inheritance.
disable=logging-fstring-interpolation,useless-super-delegation

[BASIC]
# aiosmtpd expects class method handle_DATA
good-names=handle_DATA

[FORMAT]
# Follow normal pep8 restriction
max-line-length=120

